*{
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 80%; 
    margin: 0 auto; 
}

.container1{
    max-width: 80%; 
    margin: 30px auto; 
}

.content_nav{
    display: flex; 
    justify-content: space-between; 
    position: absolute;
    width: 80%;
    padding-top: 20px;
}

nav a, #avt {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
}

nav a, #avt:hover {
    color: rgb(222, 213, 236);
}

#np{
    text-decoration: none;
    padding: 16px 42px;
    border-radius: 3px;
    line-height: 1.25;
    border: 1px solid #ffffff;
    color: white;
    font-size: 16px;
}
#np:hover{
    transition: color 1 s, border-color 0.5s;
    color: rgb(100, 0, 255);
    border-color: rgb(100, 0, 255);
}




#gltxt{
    background-image: url('../img/background.jpg');
    background-size: cover;
    height: 300px;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 120px 20px 40px 20px;
}

h1,h2{
    font-size: 2rem;
}


figure{
    text-align: center;
  }

.imggl {

    background-image: url('../img/background1.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
  }
  
a{
    text-decoration: none;
    padding: 12px 22px;
    border: 4px solid #000000;
    color: rgb(100, 0, 255);
    border-color: rgb(100, 0, 255);
    font-size: 16px;    
}
.a:hover {
    transition: color 1 s, border-color 0.5s;
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}

/*FOOTER*/
footer{
    background: #000000;
}
  #footer{
    max-width: 80%; /*Максимальная ширина от предпросмотра*/
    margin: 0 auto; /*Автоматический размер отступов слева и справа */
	
    color: white;
    padding: 12px 40px;
}

p, ul {
display: block;
 margin: 20px 0;
}



#avt_nav{
    background-image: url('../img/background.jpg');
    background-size: cover;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 120px 20px 40px 20px;
}

.login{
    max-width: 40%;
    border-radius: 20px;
    background-color: rgb(100, 0, 255);
    color: rgb(255, 255, 255);
    margin: 5% auto 10% auto;
    padding: 80px 20px;

}

table {
    border: 1px solid rgb(100, 0, 255);
    width: 40%;
    border-collapse: collapse;
 margin-bottom: 20px;
 }
 th, td {
    border: 1px solid rgb(100, 0, 255);
 }

 #nvt{
    border: none;
    color: black;
 }